#button1{
    margin-top: 2rem;
    margin-left:50%;
    transform: translateX(-50%);
  }

#texte1{
    margin-top: 30px;
    margin-left:50%;
    transform: translateX(-50%);
}

#image1{
    margin-top: 30px;
    margin-left:50%;
    transform: translateX(-50%);
}


  