.container {
    border: 1px solid #99B2DD;
    background: #99B2DD;
    color:white;
    text-decoration: none;
}


body{
    background-color: #685044;
}


.container:hover{
    color: rgb(9, 7, 3);
    background: #3A405A;
}


