#title{
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#intro{
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}