#title{
    color: rgb(0, 0, 0);
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#intro{
    color: rgb(0, 0, 0);
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}